* {
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    text-align: center;
    /* background-image: url("/img/background-image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background: url("/img/background-image.svg") no-repeat center/cover;
    color: #EBF1FB;
  
    height: 100vh;
  
    font-family: 'Spectral', serif;

    display: grid;
    place-content: center;
  }
  
  h1 {
    font-weight: 400;
    font-size: 64px;
    line-height: 120px;
  
    font-family: 'Beth Ellen', cursive;
  }
  
  h1 span {
    color: #5EEAD4;
  }

  p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 4px;
    margin-bottom: 72px;
  }
  
  /* botão */
  a {
    padding: 16px 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #EBF1FB;
  }
  
  a:hover,
  .btn-primary {
    color: #0B0C0E;
    background-color: #5EEAD4;
    border-radius: 8px;
    text-decoration: none;
  }
  
  .btn-primary:hover {
    background: #EBF1FB;
  }